<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Car Sales</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul th:with="currentPage = ${#httpServletRequest.requestURI}" class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a th:class="${currentPage == '/'} ? 'active nav-link' : 'nav-link'" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a sec:authorize="isAuthenticated()"
                       th:class="${currentPage == '/offers'} ? 'active nav-link' : 'nav-link'" th:href="@{/offers}">Offers</a>
                    <a sec:authorize="isAnonymous()" th:class="'nav-link disabled'" href="#" tabindex="-1"
                       aria-disabled="true">Offers</a>
                </li>
                <li th:with="myPath = '/offers/userOffers/' + ${#authentication.getName()}" sec:authorize="isAuthenticated()">
                    <a th:class="${#strings.equals(currentPage, myPath) or #strings.equals(currentPage, '/offers/add')} ? 'active nav-link' : 'nav-link'" th:href="@{'/offers/userOffers/' + ${#authentication.getName()}}">My offers</a>
                </li>
            </ul>
            <form class="d-flex">
                <div class="navbar-text mr-3" sec:authorize="isAuthenticated()">Welcome, <span
                        sec:authentication="name"></span></div>
                <div sec:authorize="isAuthenticated()"><a class="btn btn-warning gx-5" th:href="@{/out}" role="button" >LogOut</a>
                </div>
                <div sec:authorize="isAnonymous()"><a class="btn btn-success gx-5" th:href="@{/log}">LogIn</a></div>
            </form>
        </div>
    </div>
</nav>
</body>
</html>