<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New offer</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
</head>
<body>

<div th:insert="fragments/navbar :: navbar"></div>

<div class="container mt-5 mb-5">
    <form action="#" th:action="@{/offers/add}" th:object="${offerDTO}" method="post">
        <table>
            <tr>
                <td>Title:</td>
                <td><input type="text" th:field="*{title}" placeholder="Type offer title"/></td>
                <td th:if="${#fields.hasErrors('title')}" th:errors="*{title}" th:style="'color: red'">Title Error</td>
            </tr>
            <tr>
                <td>Info:</td>
                <td><input type="text" th:field="*{anonsName}" placeholder="Type short information"/></td>
                <td th:if="${#fields.hasErrors('anonsName')}" th:errors="*{anonsName}" th:style="'color: red'">AnonsName
                    Error
                </td>
            </tr>
            <tr>
                <td>Make:</td>
                <td><input type="text" th:field="*{carMake}" placeholder="Type car make"/></td>
                <td th:if="${#fields.hasErrors('carMake')}" th:errors="*{carMake}" th:style="'color: red'">CarMake
                    Error
                </td>
            </tr>
            <tr>
                <td>Model:</td>
                <td><input type="text" th:field="*{carModel}" placeholder="Type car model"/></td>
                <td th:if="${#fields.hasErrors('carModel')}" th:errors="*{carModel}" th:style="'color: red'">CarModel
                    Error
                </td>
            </tr>
            <tr>
                <td>Year:</td>
                <td><input type="number" th:field="*{carYear}" placeholder="Type car year"/></td>
                <td th:if="${#fields.hasErrors('carYear')}" th:errors="*{carYear}" th:style="'color: red'">CarYear
                    Error
                </td>
            </tr>
            <tr>
                <td>Power:</td>
                <td><input type="number" th:field="*{carPower}" placeholder="Type car power"/></td>
                <td th:if="${#fields.hasErrors('carPower')}" th:errors="*{carPower}" th:style="'color: red'">CarPower
                    Error
                </td>
            </tr>
            <tr>
                <td>Price (rub):</td>
                <td><input type="number" th:field="*{carPrice}" placeholder="Type car price"/></td>
                <td th:if="${#fields.hasErrors('carPrice')}" th:errors="*{carPrice}" th:style="'color: red'">CarPrice
                    Error
                </td>
            </tr>
            <tr>
                <td>Description:</td>
                <td th:if="${#fields.hasErrors('offerText')}" th:errors="*{offerText}" th:style="'color: red'">OfferText
                    Error
                </td>
            </tr>
        </table>
        <textarea th:field="*{offerText}" placeholder="Type a description of your car" class="form-control"></textarea>
        <button class="btn btn-success gx-5" type="submit">Add offer</button>
    </form>
</div>
</body>
</html>