<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Объявления о продаже</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
</head>
<body>
<!--<h1 th:inline="text">Hello, [[${#httpServletRequest.remoteUser}]]!</h1>-->

<div class="container mt-5">
    <h1>Все объявления</h1>
    <div th:each="element : ${offers}" class="alert alert-info mt-2">
        <h3 th:text="${element.getAnonsName()}"/>
        <p th:text="${element.getCar().getCarMark()} + ' ' + ${element.getCar().getCarModel() + ' ' + element.getCar().getCarYear() + 'y. ' + element.getCar().getCarPrice() + 'hp.'}"/>
<!--        <a th:href="'/offers/' + ${element.getId()}" class="btn btn-warning">Details</a>-->
    </div>
</div>
<!--<a class="me-3 py-2 text-dark text-decoration-none" href="/offers/add">Add offer</a>-->
<!--<form th:action="@{/logout}" method="post">-->
<!--    <input type="submit" value="Sign Out"/>-->
<!--</form>-->
</body>
</html>